/.idea
/configstore/update-notifier-npm.json

# For security
# /GitHub
/bat/syntaxes
/github-copilot
/lazysql/config.toml
# /neofetch
/nvim*/**
# /raycast
# /shit
# /spotify-tui
# /tmux/mine
/tmux/plugins
# /yazi/plugins


# For privacy
/1Password
/gh/hosts.yml
/glab-cli

# Testing
/bin
/karabiner
/op
goodsettings.sh

# Temporary things
/zsh_*
/etczsh

/tmux/themes
/tmux/mine
/tmux/demo2
/tmux/_before_clean
/tmux/down
/tmux/now
/tmux/old_*
/tmux-extra

