/.idea
/GitHub
/gh/hosts.yml
/github-copilot
/iterm2/AppSupport
/neofetch
/nix/.gat
/nix/result
/nvim/lazy-lock.json
/nvim_files
/op
/raycast
/shit
/spotify-tui
/tmux/plugins
/yazi/plugins
configstore/update-notifier-npm.json
.DS_Store
/tmux/themes
/tmux/demo2
/tmux/_before_clean
/tmux/down
/tmux/now
/tmux/old_*
lazysql/config.toml
tmux/mine
karabiner/automatic_backups
bat/syntaxes
/karabiner/*.php
/karabiner/*.json
